/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
